/* section1 */
.features-section{
    @extend %section;

    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;;
    }

    
}
.features-container {
    @media screen and (min-width: 1200px) {
      min-width: 1200px;
    }
    @media screen and (min-width: 768px) {
      min-width: 768px;
    }
  }

.features {
  @extend %list;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
  & .item {
  width: 450px;

  @media screen and (min-width: 768px)  {
    width: 354px;
  }

  @media screen and (min-width: 1200px)  {
    width: 270px;
  }
}

//  & .item +.item {
//   // margin-left: 30px;
// }

&-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px){
    justify-content: flex-start;
  }
}

&-content {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  margin: 0;
}
}   

.background-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: var(--secondary-bg-color);

  height: 120px;

  margin-bottom: 30px;
}

.features-title-hidden {
  @extend %visually-hidden;
}


