
.header-container {
    @extend %container;
    color: var(--light-color);
    border-bottom: 1px solid #ECECEC;

  @media screen and (min-width: 768px) {
    min-width: 768px;
  }

    @media screen and (min-width: 1200px) {
    min-width: 1200px;
    padding-left: 215px;
    padding-right: 215px;
  }
}

.logo {
  color:var(--black-logo-color);
  font-family: var(--secondary-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  padding-top: 25px;
  padding-bottom: 25px;

    .span-logo{
    color:var(--accent-text-color); 
    }
}

/* site nav */

.main-nav{
// display: flex;
display: none;

@media screen and (min-width: 768px) {
    display: flex;
}
}

.contact {
  display: flex;
}
.nav-list{
  @extend %list;
  display: flex;
  align-items: center;
  margin-left: 93px;
  padding-left: 0;

  & .item:not(:last-child){
  margin-right: 50px;}

    .nav-link.current::after{
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom:-1px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
  
}

}

.nav-link{
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height:calc(16 / 14);
    letter-spacing: 0.02em;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--timing--) var(--cubik--);
}

.site-nav{
    .nav-link{
        color: var(--primary-text-color);
    }

    .nav-link:hover,
    .nav-link:focus{
       color:var(--accent-text-color); 
    }

    .nav-link.current{
        color: var(--accent-text-color);
    }

}

.contact-list{

  display: none;
  gap: 10px;
  fill: var(--secondary-text-color);

    @extend %list;
    // .item + .item{
    // margin-left: 50px;
    // }
    & .item:hover,
    & .item:focus{
        fill: var(--accent-text-color);
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
}

.contact-mail{
    color:var(--secondary-text-color); 
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;
    
    display: flex;
    align-items: center;

    transition: color var(--timing--) var(--cubik--);

    &:hover,
    &:focus{
        color:var(--accent-text-color);
    }

    .marginsvg{
    fill:currentColor;
    margin-right: 10px;
    }


     @media screen and (min-width: 768px) {
        padding: 0;
        justify-content: flex-start;
     }
    }

    .contact-phone{
    color:var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    align-items: center;

    transition: color var(--timing--) var(--cubik--);

    &:hover,
    &:focus{
        color:var(--accent-text-color);
    }
    .marginsvg{
    fill:currentColor;
    margin-right: 10px;
    }

    @media screen and (min-width: 768px) {
        padding: 0;
        justify-content: flex-start;
    }
}





