/* hero */

.hero__container {
  height: 400px;
}
.hero {
  background-color: var(--hero-footer-bg-color);
  padding-top: 118px;
  padding-bottom: 118px;

  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  background: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../images/hero/img__sm__@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../images/hero/img__sm__@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

  @media screen and (min-width: 481px) {
  background: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../images/hero/img__md__@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

  background: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../images/hero/img__md__@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  }
  }

  @media screen and (min-width: 769px) {
  background: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../images/hero/img__lg__@2x.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

  background: linear-gradient(rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), url(../images/hero/img__lg__@2x.jpg);
  padding-top: 200px;
  padding-bottom: 200px;  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  } 


  @media screen and (min-width: 1200px){
    height: 600px;
  }
  }  

 

  &__title {
  color: var(--light-color);
  font-family: inherit;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    width: 696px;
  }
}

&__button {
  cursor: pointer;
  color: var(--light-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: block;
  width: 216px;
  margin: auto;
  padding: 10px 32px;
  align-items: center;
  text-align: center;

  border: transparent;
  border-radius: 4px;

  transition: background-color var(--timing--) var(--cubik--);

  &:hover,
  &:focus{
    background-color: #188CE8;
  }

}
}

