
.portfolio {
    @extend %section;
}

.portfolio-container {
    @extend %container;
}

.portfolio-title {
    @extend %visually-hidden;
}


.flex-portfolio-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
    width: 325px;
    margin-bottom: 50px;
    @media screen and (min-width:768px) { 
        justify-content: center;
        width: 100%;
    }



    & .item:last-child {
    margin-right: 0;
    }

}

.portfolio-button {
    cursor: pointer;
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;

    display: block;
    padding: 6px 22px;
    text-align: center;
    border: transparent;
    border-radius: 4px;

    transition: color var(--timing--) var(--cubik--),
    background-color var(--timing--) var(--cubik--),
    color var(--timing--) var(--cubik--),
    box-shadow var(--timing--) var(--cubik--);

    &:hover,
    &:focus {
        background-color: var(--accent-text-color);

        color: var(--light-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }


    & :nth-child(1) {
    width: 73px;
    margin-right: 8px;
    padding: 6px 25px;
    }

    & :nth-child(2) {
    width: 125px;
    }

    & :nth-child(3) {
    width: 112px;
    }

    & :nth-child(4) {
    width: 103px;
    }

    & :nth-child(5) {
    width: 130px;
    }
}










