/* section3 */
.team__section {
    @extend %section;

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team__container {
  @extend %container;
  
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.team {
    
    background-color: var(--secondary-bg-color);
    display: block;

    &__title {
        color: var(--primary-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42 / 36);
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    &__list {
    @extend %list;
    display: flex;
    flex-direction: column;



    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }

    & .team__item {
    background-color: var(--light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    .team__item:not(:last-child) {
    margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        margin-bottom: 0;
    } 

    @media screen and (min-width: 1200px) {
        width: 270px;
        margin-bottom: 0;
    }
    }


    }


    .team__pic {
    display: block;
    width: 100%;
    @media screen and (min-width: 1200px) {
        min-width: 100%;
    }

    @media screen and (min-width: 768px) {
        min-width: 100%;
    }
    }

    .team__wrap {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .team__member {
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: calc(19 / 16);
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .team__position {
        font-weight: 400;
        font-size: 16px;
        line-height: calc(19 / 16);
        text-align: center;
        letter-spacing: 0.03em;
        margin: 0;
        margin-bottom: 16px;
    }
}



.team-social {
    @extend %list;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    &__link {
    @extend %link;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;
    background-color: var(--light-color);

    transition: color var(--timing--) var(--cubik--),
    background-color var(--timing--) var(--cubik--);
    }

    &__link:hover,
    &__link:focus{
        color: #FFFFFF;
        background-color: var(--accent-text-color);
    }

    &__icon{
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
}
