body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light-color);
  color: var(--secondary-text-color);
}

%list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}

%link {
  text-decoration: none;

}

%container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

%section {
  padding-top: 60px;
  padding-bottom: 60px;
}

%visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}